@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:wght@400;700&family=Inter:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-inria-serif: "Inria Serif";

  /* Colors */
  --color-white: #fff;
  --color-brown-200: #991b1b;
  --color-whitesmoke-200: #f4f4f4;
  --color-gray: #d9d9d9;
  --color-light-gray: #f8fafc;
  --color-item: #fef2f2;
}
body {
  font-family: var(--font-inter);
}

.icons {
  width: 33px;
  height: 33px;
}

main {
  max-width: 1840px;
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
  display: flex;
  gap: 30px;
}
.cart {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.cart-title {
  display: flex;
  gap: 20px;
  align-items: center;
  padding-left: 20px;
}
.cart-title span {
  font-weight: 700;
  font-size: 24px;
  color: var(--color-brown-200);
}

.items {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.item {
  margin-top: 20px;
  background-color: var(--color-item);
  padding: 10px 35px;
  border-radius: 10px;
  display: flex;
  align-items: start;
  gap: 30px;
}
.item .img {
  width: 20%;
  height: 100%;
}
.item .img img {
  width: 100%;
  height: 100%;
}
.item .details {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
  width: 100%;
}

.details .title {
  font-weight: 700;
  font-size: 24px;
  font-style: italic;
}
.details .type {
  font-weight: 700;
  font-size: 18px;
  color: var(--color-brown-200);
}
.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.counter img {
  width: 45px;
  height: 45px;
  cursor: pointer;
}
.counter span {
  background-color: var(--color-gray);
  padding: 7px 40px;
  border-radius: 10px;
  font-size: 22px;
  font-weight: 700;
  font-style: italic;
  height: 40px;
}
.checkout {
  width: 100%;
}
.checkout h1.title {
  font-weight: 700;
  font-size: 24px;
  color: var(--color-brown-200);
}
.checkout-details {
  display: flex;
  gap: 30px;
  margin-top: 20px;
  flex-direction: column;
  background-color: var(--color-light-gray);
  padding: 30px;
  border-radius: 10px;
}
.checkout-details .address,
.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(109, 109, 109);
}
.address h1,
.info h1 {
  font-size: 20px;
}
.address h2,
.info h2 {
  font-size: 20px;
  font-weight: lighter;
  color: rgb(56, 56, 56);
}
.payment {
  width: 100%;
  display: flex;
  gap: 30px;
  flex-direction: column;
}
.payment h1 {
  font-size: 22px;
}
.visa h3 {
  font-size: 15px;
  font-weight: bolder;
}
.visa-info {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.visa-info span {
  border-radius: 15px;
  padding: 10px 30px;
  font-size: 18px;
  font-weight: 400;
  background-color: var(--color-gray);
  text-align: left;
  width: fit-content;
}
.card-number {
  flex: 3;
}
.exp-date {
  flex: 2;
}
.cvc {
  flex: 1;
}
.checkout-btn {
  text-align: center;
  margin-top: 60px;
}

.checkout-btn button {
  width: fit-content;
  background-color: var(--color-brown-200);
  color: var(--color-white);
  padding: 10px 40px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
}
.checkout-title img {
  display: none;
}
@media (max-width: 768px) {
  .checkout-title img {
    display: flex;
  }
  .checkout-title {
    display: flex;
    gap: 20px;
  }
  .cart {
    display: none;
  }
  .info {
    padding: 40px 0px;
  }
  .visa-info span {
    font-size: 14px;
    font-weight: 300;
  }
}