  a {
    text-decoration: none;
    color: var(--color-firebrick-100);
    font-weight: bold;
    font-size: var(--font-size-base);
  }
  
  .home-page {
    width: 80%;
    margin: 0 auto;
    position: relative;
    background-color: var(--color-white);
    overflow: hidden;
    padding: var(--padding-sm) 0 0;
  }
  .add-shopping-cart4,
  .favorite-icon4 {
    height: 44px;
    width: 43px;
    position: relative;
    object-fit: cover;
    z-index: 2;
  }
  .add-shopping-cart4 {
    width: 44px;
  }
  .favorite-icons,
  .product-info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .favorite-icons {
    justify-content: flex-start;
    position: relative;
  }
  .product-info {
    width: 264px;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .red-bike-jacket3 {
    align-self: stretch;
    height: 26px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    z-index: 1;
  }
  .nok-3001 {
    flex: 1;
    position: relative;
    z-index: 1;
  }
  .price-info {
    align-self: stretch;
    flex-direction: row;
    padding: 0 var(--padding-15xl) 0 var(--padding-16xl);
    font-size: var(--font-size-xl);
    color: var(--color-black);
  }
  .rainydays-jacket1-5-icon {
    position: absolute;
    height: 270px;
    width: 221px;
    bottom: -260px;
    left: -198px;
  }
  .product-carousel {
    display: flex;
    flex-direction: row;
    gap: var(--gap-30xl);
    font-size: var(--font-size-6xl);
  }
  .section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-28xl);
    max-width: 100%;
  }
  .section {
    display: flex;
    flex-direction: row;
    padding: 0 var(--padding-26xl);
    max-width: 100%;
    text-align: center;
    font-size: var(--font-size-11xl);
    color: var(--color-firebrick-100);
    font-family: var(--font-inter);
  }
  
  @media screen and (max-width: 1200px) {
    .product-carousel {
      flex-wrap: wrap;
    }
    .section {
      padding-left: var(--padding-3xl);
      padding-right: var(--padding-3xl);
    }
  }
  
  @media screen and (max-width: 1050px) {
    .product-carousel {
      justify-content: center;
      grid-template-columns: repeat(2, minmax(226px, 393px));
    }
  }
  
  @media screen and (max-width: 750px) {
    .product-carousel {
      gap: var(--gap-5xl);
      grid-template-columns: minmax(226px, 1fr);
    }
    .section-container {
      gap: var(--gap-4xl);
    }
  
    .home-page {
      gap: 85px;
    }
  }
  
  @media screen and (max-width: 450px) {
  
    .home-page {
      gap: var(--gap-24xl);
    }
    .red-bike-jacket3 {
      font-size: var(--font-size-xl);
    }
    .nok-3001 {
      font-size: var(--font-size-base);
    }
  }
  